* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);    
}

h1 {
    font-size: 26px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.card #perfume-picture {
    width: 40%;
    height: 380px;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.card p {
    font-size: 14px;
}

.card h1 h2{
    margin: 0;
}

h1 {
    line-height: 0.9;
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

h3 {
    font-size: 12px;
    letter-spacing: 3px;
}

h3, p {
    font-family: 'Montserrat', serif;
}

.perfume-details {
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    padding: 5px 30px 5px 20px;
    height: 380px;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* margin-top: -50px; */
}

#details {
    line-height: 1.5;
    margin-bottom: -5px;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* padding: 30px; */
    background-color: hsl(158, 36%, 37%);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a .button p {
    color: hsl(0, 0%, 100%);
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#normal-price {
    text-decoration: line-through;
    padding-top: 13px;
}

.grey-text {
    color: hsl(228, 12%, 48%);
}

.green-text {
    color: hsl(158, 36%, 37%);
}

a .button:hover {
    background-color: hsl(158, 80%, 18%);
}



